version: '3.8'

services:
  anny-bot:
    image: ghcr.io/puppeteer/puppeteer:latest
    container_name: anny-bot
    restart: unless-stopped
    user: root # Run as root to ensure write access to volumes and npm install
    volumes:
      - /home/umbrel/umbrel/home/Documents/anny/backend:/usr/src/app
      - /home/umbrel/umbrel/home/Documents/anny/databases:/usr/src/app/databases
    working_dir: /usr/src/app
    environment:
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
      - CHROME_BIN=/usr/bin/google-chrome-stable
      - DATA_DIR=/usr/src/app
      - USERS_DB_PATH=/usr/src/app/databases/users.db
      - RESOURCES_DB_PATH=/usr/src/app/databases/resources.db
      - JSON_DIR=/usr/src/app/json
      - JWT_DIR=/usr/src/app/jwt
    command: sh -c "npm install && node scheduler.js"
    networks:
      - anny_network

  anny-frontend:
    image: node:18
    container_name: anny-frontend
    restart: unless-stopped
    volumes:
      - /home/umbrel/umbrel/home/Documents/anny/frontend:/usr/src/app
      - /home/umbrel/umbrel/home/Documents/anny/databases:/usr/src/app/databases
      - /home/umbrel/umbrel/home/Documents/anny/backend/json:/usr/src/app/json
    working_dir: /usr/src/app
    environment:
      - USERS_DB_PATH=/usr/src/app/databases/users.db
      - RESOURCES_DB_PATH=/usr/src/app/databases/resources.db
      - JSON_DIR=/usr/src/app/json
    ports:
      - "3000:3000"
    command: sh -c "npm install && node app.js"
    networks:
      - anny_network

  app_proxy:
    environment:
      APP_HOST: anny-frontend
      APP_PORT: "3000"
    networks:
      - anny_network

networks:
  anny_network:
    driver: bridge
