version: '3.8'

services:
  anny-bot:
    image: node:18
    container_name: anny-bot
    restart: unless-stopped
    user: root
    volumes:
      - /home/umbrel/umbrel/home/Documents/anny/backend:/usr/src/app
      - /home/umbrel/umbrel/home/Documents/anny/databases:/usr/src/app/databases
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    environment:
      - DATA_DIR=/usr/src/app
      - USERS_DB_PATH=/usr/src/app/databases/users.db
      - RESOURCES_DB_PATH=/usr/src/app/databases/resources.db
      - JSON_DIR=/usr/src/app/json
      - JWT_DIR=/usr/src/app/jwt
      - TZ=Europe/Berlin
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
    command: >
      sh -c " apt-get update && apt-get install -y wget gnupg && wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | gpg --batch --yes --no-tty --dearmor -o /usr/share/keyrings/googlechrome-linux-keyring.gpg && echo \"deb [arch=amd64 signed-by=/usr/share/keyrings/googlechrome-linux-keyring.gpg] http://dl.google.com/linux/chrome/deb/ stable main\" > /etc/apt/sources.list.d/google.list && apt-get update && apt-get install -y google-chrome-stable fonts-ipafont-gothic fonts-wqy-zenhei fonts-thai-tlwg fonts-kacst fonts-freefont-ttf libxss1 --no-install-recommends && rm -rf /var/lib/apt/lists/* && npm install && node scheduler.js "
    networks:
      - anny_network

  anny-frontend:
    image: node:18
    container_name: anny-frontend
    restart: unless-stopped
    volumes:
      - /home/umbrel/umbrel/home/Documents/anny/frontend:/usr/src/app
      - /home/umbrel/umbrel/home/Documents/anny/databases:/usr/src/app/databases
      - /home/umbrel/umbrel/home/Documents/anny/backend/json:/usr/src/app/json
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    environment:
      - USERS_DB_PATH=/usr/src/app/databases/users.db
      - RESOURCES_DB_PATH=/usr/src/app/databases/resources.db
      - JSON_DIR=/usr/src/app/json
      - TZ=Europe/Berlin
    command: sh -c "npm install && node app.js"
    networks:
      - anny_network
    ports:
      - "3001:3000"

  app_proxy:
    environment:
      APP_HOST: anny-frontend
      APP_PORT: "3000"
    networks:
      - anny_network

networks:
  anny_network:
    driver: bridge
